    header{
        background-color: rgb(17, 1, 1);
        font-family: 'Luckiest Guy', cursive;
        padding-top: 5px;
        min-height: 70px;
        border-bottom: 2px solid rgb(59, 58, 58);
    }
    
    header #logo h1 .highlight{
        color: yellow;
    }
   
    header a{
        color:rgb(74, 189, 255);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }

    header ul{
        padding: 0px;
        margin: 0px;
    }

    header li{
        float: left;
        display: none;
        visibility: hidden;
        padding: 0 10px 0 10px;
    }
    header #logo{
        float: left;
        margin-left: 2%;
    }

    header nav{
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    }

    .fas.fa-bars {
        margin-bottom: 10px;
        font-size: 30px;
        color: rgb(74, 189, 255);
    }

@media (min-width: 768px){
    header li{
        float: left;
        display: inline;
        visibility: visible;
        padding: 0 10px 0 10px;
    }
    .fas.fa-bars{
        display: none;
    }

}