
section a {
    text-decoration: none;
}

.date-b {
    padding: .25%;
    font-family:'Luckiest Guy', cursive;
    font-size: 4vw;
    text-align:center;
    background-color: rgb(253, 2, 86);
    color: white;

}

#first-news {
    background-image: url(https://video-images.vice.com//articles/5f612881518e49009c097efe/lede/1600205561894-8122020gravediggersunioncvdouble-2.jpeg?crop=1xw:0.483xh;0xw,0xh&resize=1067:*);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}

#first-news .container-1{
    display: flex;
    width: 100%;
    height: auto;
}

.container-1 h2 a{
    font-size: 6vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 200px;
    margin-bottom: 10px;
    color: cornsilk;
    background-color: rgb(41, 35, 35, 0.75);

}

#second-news .container-2 .responsive-2{
    width: 30%;
    height: auto;
    
}

.box1,.box2,.box3{
    display: flex;
    font-size: 4vw;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.container-2 a{
    color: black;
}

.responsive-2{
    flex: 1;
}

.title-responsive{
    flex: 2;
}

#second-news p {
    margin-left: 4%;
}

#second-news .sidesbar .responsive-3{
    width: 100%;
    height: auto;
}

.container-3{
    display: flex;
    flex-direction: column;
}

#second-news .container-3 .sidesbar .box7, .box8, .box9{
    visibility: hidden;
    display:none;
}

.sidesbar-title{
    background-color: black;
    color: rgb(74, 189, 255);
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 4vw;
}

.sidesbar{
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
    padding: 5% 0 5% 0;
    color: white;
    justify-content: space-between;
}

.box4,.box5,.box6,.box7,.box8,.box9{
    width: 30%;
    height: auto;
    flex-direction: column;
    font-size: 4vw;
    border: 1px solid white;
}

.sidesbar a{
    color: blanchedalmond;
}

.banner-1 {
    padding: .5;
    font-family:'Luckiest Guy', cursive;
    font-size: 4vw;
    text-align: center;
    background-color: magenta;
    color: white;
}

.container-4{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.boxes{
    width: 45%;
    padding: 10px;
    text-align: center;
    align-self: flex-start;
}

.boxes a{
    color: black;
}

.boxes img{
    width: 100%;
    height: auto;
    padding: 1px;
}

.ads1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads1 img{
    width: 70%;
    height: auto;
    display: flex;
}

.banner-2 {
    padding: .5;
    font-family:'Luckiest Guy', cursive;
    font-size: 4vw;
    text-align: center;
    background-color: greenyellow;
    color: black;
}

.banner-2 p{
    margin-bottom: 0px;
    
}

#podcast a{
    color: aliceblue;
}

#podcast a:hover{
    color:greenyellow;
}

.container-5{
    display: flex;
}

#podcast .podcast-box .responsive-5{
    width: 50%;
    height: auto;
}

.podcast-box{
    display: flex;
    flex-wrap: wrap-reverse;
}

.responsive-5{
    flex: 1;
    order:2;
}

.title-responsive5{
    flex: 1;
    order:1;
    background-color: black;
    color: white;
    font-size: 6vw;
    font-family: fantasy;
    text-align: center;
}

footer{
    background-color: black;
    font-family: 'Luckiest Guy', cursive;
    padding-top: 5px;
    min-height: 70px;
    margin-top: 10px;
    border-bottom: 2px solid rgb(59, 58, 58);
}

footer p {
    text-align: center;
    text-transform: uppercase;
    color: yellow;
}

footer .tags {
    font-size: 2vw;
    text-align: center;

}

footer .tags a {
    text-decoration: none;
    color: rgb(74, 189, 255);
    margin-left: 3%;
}

@media (min-width: 480px) {
    #first-news {
        height: 300px;
    }

    #second-news .container-3 .sidesbar .box7, .box8, .box9{
        visibility: hidden;
        display:none;
    }

}
@media (min-width: 768px) {
    #first-news {
        height: 400px;
    }

    #second-news{
        display: flex;
        flex-direction: row;
        margin-top: 2.5%;
    }

    #second-news .container-2 .responsive-2{
        width: 100%;
        height: auto;
    }

    .container-2{
        flex: 2;
    }

    .container-3{
        flex: 1;
    }

    .box1{
        flex: 1;
    }

    .box2{
        flex:1;    
    }

    .box3{
        flex: 1;
    }
    
    .box1,.box2,.box3{
        display: flex;
        flex-direction: column;
    }
    .responsive-2{
        flex: 1;
    }

    .title-responsive{
        flex: 1;
    }

    #second-news .container-3 .sidesbar .box7, .box8{
        visibility:visible;
        display: inline;
    }

    #second-news .container-3 .sidesbar .box9{
        visibility:hidden;
        display: none;
    }

    .container-3{
        display: flex;
        flex-direction: column;
        margin-left: 2.5%;
    }

    .sidesbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box4,.box5,.box6 ,.box7,.box8,.box9{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        padding-bottom: 2.5%;
        font-size: 2vw;
    }

}
@media (min-width: 900px) {

    #first-news {
        height: 500px;
    }

    .container-4{
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        width: 100%;
    }
}
@media (min-width: 1024px) {
    #first-news {
        height: 600px;
    }
    
    #second-news .container-3 .sidesbar .box9{
        visibility:visible;
        display: inline;
    }
}
@media (min-width: 1200px) {
    #first-news {
        height: 650px;
    }

    .container-2{
        flex: 3;
    }

    .container-3{
        flex: 1;
    }
}